<div class="container">
  <p class="text-left">
    <a class="lead  btn-link"  [routerLink]="['../update']">Edit</a>
  </p>
    <table class="table  table-borderless">
      <tr>
        <td>
          Username
        </td>
        <td>
          {{admin.username}}
        </td>
      </tr>
      <tr>
        <td>
          Email
        </td>
        <td>
          {{admin.email}}
        </td>
      </tr>
      <tr>
        <td>
          Password
        </td>
        <td>
          {{admin.password}}
        </td>
      </tr>
      <tr>
        <td>
          Mobile Number
        </td>
        <td>
          {{admin.mobileNumber}}
        </td>
      </tr>
    </table>

  </div>
