<div class="container">
  <p class="text-left">
    <a class="lead  btn-link" (click)="updateAdmin()">Save</a>
  </p>
  <table class="table  table-borderless">
    <tr>
      <td>
        Username
      </td>
      <td>
        <input class="form-control " [(ngModel)]="admin.username">
      </td>
    </tr>
    <tr>
      <td>
        Email
      </td>
      <td>
        <input class="form-control" [(ngModel)]="admin.email">
      </td>
    </tr>
    <tr>
      <td>
        Password
      </td>
      <td>
        <input class="form-control" [(ngModel)]="admin.password">
      </td>
    </tr>
    <tr>
      <td>
        Mobile Number
      </td>
      <td>
        <input class="form-control" [(ngModel)]="admin.mobileNumber">
      </td>
    </tr>
  </table>

</div>
