<div class="container">
  <div class="row">
    <div class="col align-self-start">
      <div class="container">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a [routerLink]="['./driver']" ngbNavLink>Customer</a>
            <ng-template ngbNavContent>

              <router-outlet></router-outlet>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a [routerLink]="['./customer']" ngbNavLink>Driver</a>
            <ng-template ngbNavContent>
              <router-outlet></router-outlet>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>

    </div>

    <div class="col align-self-end">
      <div class="container" style="padding-top: 10px;">
        <p class="display-4 text-right">
          Sign Up page
          <br>
          Customer & Driver
        </p>
      </div>
    </div>
  </div>
</div>
